<ul>
  @for (product of products; track product.id; let idx = $index, count = $count, even = $even, odd=$odd,
  first = $first, last=$last) { <!-- @for needs to have a track identifier to help anguar uniquely identify each item in the list-->
  <li [class.alt]="odd" [class.top]="first">
    <!-- <div>Index: {{idx}}</div> -->
    <div>Product {{idx+1}} of {{count}}</div>
    <bot-product-details [product]="product" />
  </li>
  }
</ul>

<!-- use a track clause (the id part to uniwuely identify, and its also more efficient)-->